# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Tests
/coverage
/.nyc_output

# General
.env
dist/
coverage/
node_modules/

# General - packages
packages/*/.env
packages/*/build
packages/*/coverage
packages/*/node_modules

# Logs - packages
packages/*/logs
packages/*/*.log
packages/*/npm-debug.log*
packages/*/lerna-debug.log*
